<%= turbo_frame_tag "vote_#{post.id}" do %>
  <div class="vote">
    <%= render partial: 'posts/votes/form', locals: { post: post, label: '+', disable: user_signed_in? ? current_user.voted_up_on?(post) : true } %>
    <span class="vote__total"><b><%= post.get_upvotes.size %></b></span>
    <% if post.get_upvotes.size.zero? %>
      <%= render partial: 'posts/votes/form', locals: { post: post, label: '-', disable: true } %>
    <% else %>
      <%= render partial: 'posts/votes/form', locals: { post: post, label: '-', disable: user_signed_in? ? current_user.voted_down_on?(post) : true } %>
    <% end %>
  </div>
<% end %>
