<div class="login">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login__fields">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'E-mail' %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
    </div>
    <div class="login__actions">
      <%= f.submit "Log in", class: 'login__submit', data: { turbo: false } %>
    </div>
  <% end %>
  <div class="login__oauth">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}",
        omniauth_authorize_path(resource_name, provider),
        method: :post,
        class: 'login__submit',
        data: { turbo: false } %>
    <% end %>
  </div>
</div>
