<%= turbo_frame_tag 'post_form' do %>
  <%= form_for post, data: { "turbo-frame" => "_top" } do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :body %>
      <%= f.rich_text_area :body %>
    </div>
    <div class="field">
      <%= f.label :public %>
      <%= f.select :public, [true, false] %>
    </div>
    <div class="field">
      <%= f.hidden_field :user_id, value: current_user&.id %>
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
