<%= form_for(post) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.hidden_field :user_id, value: current_user&.id %>
  <%= f.submit %>
<% end %>
