<%= turbo_frame_tag 'post_form' do %>
  <%= form_for post, data: { "turbo-frame" => "_top" } do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div class="field">
      <%= f.label :tags %>
      <%= f.select :tags, tag_collection(post.tag_list), {}, { multiple: true, data: { 'controller': 'slim-select' } } %>
    </div>
    <%= f.hidden_field :user_id, value: current_user&.id %>
    <%= f.submit %>
  <% end %>
