<div class="post">
  <h2><%= link_to post.title, post_path(post), target: '_top' %></h2>
  <p class='meta'><em><%= created_at_date(post) %> - <%= post.stack.name %></em></p>
  <div class='content'>
    <%= post.body %>
  </div>
  <% bookmark_id = post.bookmarked?(current_user&.id) %>
  <% if bookmark_id %>
    <%= link_to "Remove bookmark", bookmark_path(bookmark_id), method: :delete, data: { confirm: 'Are you sure ?' } %>
  <% else %>
    <%= link_to "Bookmark", post_bookmarks_path(post), method: :post %>
  <% end %>
</div>
